.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 250px 30px 30px 30px;
  &__card {
    display: flex;
    max-height: 45px;
    input{
      min-width: 300px;
    }
  }
  &__widget{
    position: absolute;
    top: 9%;
    left: 10%;
    width: 200px;
    align-items: center;
  }
}
